@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* DESCRIPTION
 * Andy Bell's Reset 
 * Code scope: entire project
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Other */
a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

:root {
  --color-background: #f6f6f6;
  --color-header: #fff;
  --color-header-border: #111;
  --color-list-category: #11111199;
  --color-selected-category: #4f2ee8;
  --color-slider: #e0e0e0;
  --color-main-font: #111;
  --color-info-empty: #00000099;
  --color-brand-name: #000;
  --amazon-icon-filter: grayscale(100%);
  --amazon-icon-filter-focus: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
  --apple-icon-filter-focus: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
  --color-purple-btn: #4f2ee8;
  --color-yellow-btn: #eac645;
  --color-black-btn: #111;
  --color-white-btn: #fff;
  --color-purple-title: #4f2ee8;
  --color-author-font: #b4afaf;
  --color-shoping-border: #4f2ee866;
  --color-modal-background: #11111166;
  --color-purple-support: #4f2ee8;
  --color-white-support: #fff;
  --color-user-icon: #f6f6f6;
}

.darkmode {
  --color-background: #202024;
  --color-header: #111;
  --color-header-border: #fff;
  --color-list-category: #ffffff99;
  --color-selected-category: #eac645;
  --color-slider: #11111199;
  --color-main-font: #fff;
  --color-info-empty: #ffffff99;
  --color-brand-name: #f3f3f3;
  --amazon-icon-filter: grayscale(100%) invert(100%);
  --amazon-icon-filter-focus: grayscale(100%) invert(100%)
    drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.2));
  --apple-icon-filter-focus: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.2));
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}

main {
  padding-top: 64px;
}
@media screen and (min-width: 768px) {
  main {
    padding-top: 72px;
  }
}

.shopping-list-wrapper {
  padding-top: 40px;
  display: flex;
  gap: 40px;
}

.support-wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .support-wrapper {
    display: block;
    flex-basis: 356px;
  }
}

.cart-list-wrapper {
  flex-grow: 1;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: var(--color-header);
  border: 1.5px solid var(--color-header-border);
  border-radius: 0 0 8px 8px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding-block: 18px;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    height: 72px;
  }
}
.header__navigation-wrapper {
  display: flex;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .header__navigation-wrapper {
    gap: 76px;
  }
}
.header__brand-items {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__brand-name-wrapper {
  padding-block: 6px;
}
.header__brand-name-icon {
  fill: var(--color-brand-name);
}
.header__user-settings {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__user-settings {
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__mobile-menu-button {
    display: none;
  }
}
.header__mobile-menu-icon {
  fill: var(--color-header-border);
}
.header__sign-up-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__sign-up-btn {
    display: block;
    padding: 4px 12px;
    background-color: var(--color-purple-btn);
    border-radius: 36px;
    color: var(--color-white-btn);
    display: flex;
    align-items: center;
    gap: 9px;
  }
}
.header__sign-up-wrapper {
  width: 37px;
  height: 37px;
  padding: 9px;
  border-radius: 50%;
  background-color: var(--color-user-icon);
}
.header__user-icon {
  fill: var(--color-purple-btn);
}
.header__sign-up-icon {
  fill: var(--color-white-btn);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}
.navigation__list {
  display: flex;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .navigation__list {
    gap: 8px;
  }
}
.navigation__link {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 8px 16px;
  color: var(--color-main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  line-height: 1.29;
  font-family: "DM Sans";
}
.navigation__link.navigation__link--current {
  color: var(--color-black-btn);
  background-color: var(--color-yellow-btn);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.56px;
  line-height: 1.29;
  border-radius: 36px;
}
.navigation__icon {
  fill: var(--color-main-font);
}

.theme-switcher__toggler {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  padding: 1px;
  position: relative;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  transition: background-image 250ms linear;
}
.theme-switcher__toggler::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  transform: translateX(0);
  transition: transform 250ms linear;
}
.theme-switcher__toggler.dark-mode-on {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
.theme-switcher__toggler.dark-mode-on::before {
  transform: translateX(110%);
}

.navigation--header {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation--header {
    display: block;
  }
}
.navigation--header__list {
  display: flex;
  gap: 0;
}
@media screen and (min-width: 1440px) {
  .navigation--header__list {
    gap: 8px;
  }
}
.navigation--header__link {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 8px 16px;
  color: var(--color-main-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  line-height: 1.29;
  font-family: "DM Sans";
}
.navigation--header__link__link--current {
  color: var(--color-black-btn);
  background-color: var(--color-yellow-btn);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.56px;
  line-height: 1.29;
  border-radius: 36px;
}
.navigation--header__icon {
  fill: var(--color-main-font);
}

@media screen and (min-width: 768px) {
  .navigation--mobile-menu {
    display: none;
  }
}
.navigation--mobile-menu__list {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-transform: uppercase;
  letter-spacing: -0.56px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation--mobile-menu__item {
  display: inline-block;
}
.navigation--mobile-menu__link {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  padding: 8px 16px;
  color: var(--color-white-btn);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  line-height: 1.29;
  font-family: "DM Sans";
}
.navigation--mobile-menu__link--shopping-list {
  padding: 0;
}
.navigation--mobile-menu__link--current {
  color: var(--color-black-btn);
  background-color: var(--color-yellow-btn);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.56px;
  line-height: 1.29;
  border-radius: 36px;
}
.navigation--mobile-menu__icon {
  fill: var(--color-white-btn);
}

button {
  cursor: pointer;
}

.shopping-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--color-purple-btn);
  padding: 14px 28px;
  text-transform: uppercase;
  color: var(--color-header-border);
  background: var(--color-header);
  font-family: DM Sans;
  font-size: 14px;
  letter-spacing: -0.18px;
  font-weight: 700;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .shopping-list-btn {
    padding: 20px 149.5px;
  }
}
@media screen and (min-width: 768px) {
  .shopping-list-btn {
    font-size: 18px;
  }
}

.shopping-list-btn:hover,
.shopping-list-btn:focus {
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
}

.shopping-list-btn:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.see-more-btn {
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--color-purple-btn);
  color: var(--color-header-border);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.see-more-btn:hover,
.see-more-btn:focus {
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
}

.see-more-btn:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-header-border);
  padding: 8px 16px;
  border-radius: 36px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.nav-btn svg {
  margin-left: 8px;
}

.nav-btn:active {
  font-weight: 700;
  background: var(--color-yellow-btn);
}

.user-btn {
  gap: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 36px;
  border: none;
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.log-out-btn {
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  color: var(--color-black-btn);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  border-radius: 18px;
  border: 1.5px solid var(--color-black-btn);
  background: var(--color-white-btn);
}

.sign-up-btn {
  gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  color: var(--color-white-btn);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  border-radius: 18px;
  border: 1.5px solid var(--color-black-btn);
  background: var(--color-purple-btn);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-card {
  animation: show 0.25s ease-in-out;
}
.modal-card__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 762px;
  border: 2px solid #111;
  border-radius: 18px;
}
.modal-card__img-box {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  overflow: hidden;
}
.modal-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-card__close {
  position: absolute;
  top: 14px;
  right: 14px;
}
.modal-card__close-box {
  background-image: url("../images/x-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--color-purple-btn);
  border-radius: 50%;
}

.button-shopping__content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--color-purple-btn);
  padding: 14px 28px;
  text-transform: uppercase;
  color: var(--color-header-border);
  background: var(--color-header);
  font-family: DM Sans;
  font-size: 14px;
}

.modal-card__backdrop {
  position: absolute;
  top: 30;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  overflow: hidden;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 18px, 20px, 20px;
  transform: translateX(100%);
  z-index: 10;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    margin-top: 72px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__wrapper {
  background-image: url("/src/images/mobile_menu_background.png"), radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 100vh;
  position: relative;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mobile-menu__wrapper {
    background-image: url("/src/images/mobile_menu_background@2x.png"), radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  }
}
.mobile-menu__user {
  padding: 0 66px;
  top: 24px;
  color: #fff;
}

.log-out-btn.btn-logout {
  cursor: pointer;
  align-items: center;
  gap: 4px;
  height: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  transition: all 0.3s ease-in-out;
  display: flex;
  position: fixed;
  top: 20px;
  left: 20px;
}

.hidden {
  display: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shopping-content {
  background-color: var(--color-background);
}

.shopping-title {
  color: var(--color-main-font);
  margin-bottom: 40px;
  width: 335px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.28px;
  line-height: 1.1875;
}
.shopping-title__accent {
  color: var(--color-purple-title);
}
@media screen and (min-width: 768px) {
  .shopping-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.92px;
    line-height: 1.0833;
    width: 704px;
  }
}

.shopping-empty {
  animation: show 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 120px auto 0;
  width: 265px;
}
@media screen and (min-width: 768px) {
  .shopping-empty {
    width: 349px;
    margin-top: 140px;
    gap: 20px;
  }
}
.shopping-empty__text {
  color: var(--color-info-empty);
  text-align: center;
  width: calc(100% - 21px);
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  line-height: 1.2857;
}
@media screen and (min-width: 768px) {
  .shopping-empty__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: 1.3333;
    width: 100%;
  }
}

.card-item {
  animation: show 0.25s ease-in-out;
}
.card-item__box {
  position: relative;
  margin: 0 auto 20px;
  display: flex;
  width: 335px;
  height: 170px;
  padding: 14px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: var(--color-header);
}
@media screen and (min-width: 768px) {
  .card-item__box {
    width: 704px;
    height: 213px;
    padding: 24px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .card-item__box {
    width: 996px;
    height: 213px;
  }
}
.card-item__img-box {
  width: 100px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card-item__img-box {
    width: 116px;
  }
}
.card-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-item__title {
  width: 144px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.64px;
  line-height: 1.125;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: var(--color-header-border);
}
@media screen and (min-width: 768px) {
  .card-item__title {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .card-item__title {
    width: 650px;
  }
}
.card-item__category {
  width: 165px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 1.1667;
  margin-bottom: 8px;
  color: var(--color-author-font);
}
@media screen and (min-width: 768px) {
  .card-item__category {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .card-item__category {
    width: 650px;
  }
}
.card-item__description {
  width: 193px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 1.2857;
  margin-bottom: 14px;
  color: var(--color-header-border);
}
@media screen and (min-width: 768px) {
  .card-item__description {
    width: 508px;
  }
}
@media screen and (min-width: 1440px) {
  .card-item__description {
    width: 808px;
  }
}
.card-item__author {
  width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 1.1667;
  font-style: italic;
  margin-bottom: 8px;
  color: var(--color-author-font);
}
@media screen and (min-width: 768px) {
  .card-item__author {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .card-item__author {
    width: 650px;
  }
}
.card-item__author-box {
  height: 12px;
}

.remove-button {
  position: absolute;
  top: 14px;
  right: 14px;
}
@media screen and (min-width: 768px) {
  .remove-button {
    top: 24px;
    right: 24px;
  }
}
.remove-button__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--color-purple-btn);
  border-radius: 50%;
  background-image: url("../images/icon-trash.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
@media screen and (min-width: 768px) {
  .remove-button__box {
    background-size: 18px 18px;
  }
}
.remove-button__box:hover, .remove-button__box:focus {
  box-shadow: 0px 0px 12px 4px var(--color-info-empty);
}

.card-item__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item__info-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shops-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}
.shops-list__link {
  font-size: 7px;
}
.shops-list__link:hover .shops-list__icon-img-amazon, .shops-list__link:focus .shops-list__icon-img-amazon {
  filter: var(--amazon-icon-filter-focus);
  transform: scale(1.15);
}
.shops-list__link:hover .shops-list__icon-img-apple, .shops-list__link:focus .shops-list__icon-img-apple {
  filter: var(--apple-icon-filter-focus);
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  .shops-list {
    gap: 16px;
    align-items: center;
  }
}
.shops-list__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shops-list__icon-box--amazon {
  width: 32px;
}
@media screen and (min-width: 768px) {
  .shops-list__icon-box--amazon {
    width: 48px;
  }
}
.shops-list__icon-box--apple {
  width: 16px;
}
@media screen and (min-width: 768px) {
  .shops-list__icon-box--apple {
    width: 28px;
  }
}
.shops-list__icon-img-apple {
  filter: grayscale(100%);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shops-list__icon-img-amazon {
  filter: var(--amazon-icon-filter);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}
html body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440;
  margin: 24px;
  padding-top: 40px;
}
@media screen and (min-width: 1440px) {
  html body main {
    flex-direction: row;
    align-items: flex-start;
  }
}
html body main .elements-location {
  width: 375;
  margin: 40px 0;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 768px) {
  html body main .elements-location {
    width: 768;
    margin-bottom: 90px;
    padding: 0 32px 0 32px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  html body main .elements-location {
    flex-direction: column;
    width: 450px;
  }
}

.books {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.books__categories {
  color: var(--color-list-category);
  cursor: pointer;
  margin-bottom: 30px;
  overflow: auto;
  height: 230px;
  width: 335px;
  line-height: 38px;
}
@media screen and (min-width: 768px) {
  .books__categories {
    height: 426px;
    width: 335px;
  }
}
.books__header {
  color: var(--color-header-border);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}
.books__header--color {
  color: var(--color-purple-btn);
}
@media screen and (min-width: 768px) {
  .books__header {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 1.92px;
  }
}
@media screen and (min-width: 1440px) {
  .books__header {
    margin-top: 40px;
  }
}
.books__list--category {
  display: flex;
  flex-direction: column;
}
.books__list--category-name {
  color: var(--color-author-font);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .books__list--category-name {
    line-height: 1.7;
  }
}
.books__list--category-set {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .books__list--category-set {
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .books__list--category-set {
    gap: 24px;
  }
}
.books__list--category-see-more {
  margin-top: 8px;
  text-align: right;
  margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .books__list--category-see-more {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .books__list--category-see-more {
    margin-top: 32px;
  }
}
.books__list--image {
  padding-top: 18px;
  border-radius: 8px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .books__list--image {
    width: 218px;
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .books__list--image {
    min-width: 180px;
    max-height: 256px;
  }
}
.books__list--element-description {
  padding-top: 14px;
  gap: 4px;
}
.books__list--title {
  color: var(--color-header-border);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}
.books__list--author {
  color: var(--color-author-font);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.48px;
}

.change-category-color {
  color: var(--color-selected-category);
  text-transform: uppercase;
  font-weight: 500;
}

.support__box {
  display: grid;
  max-width: 335px;
  height: 375px;
  padding-top: 24px;
  max-width: 335px;
  height: 352px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--color-purple-support) 18.03%, var(--color-white-support) 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
}

@media screen and (min-width: 428px) {
  .support__box {
    max-width: 335px;
    height: 352px;
  }
}
@media screen and (min-width: 768px) {
  .support__box {
    min-width: 335px;
    height: 472px;
  }
}
@media screen and (min-width: 1440px) {
  .support__box {
    max-width: 356px;
    height: 490px;
  }
}
.support__title {
  display: flex;
  padding-left: 40px;
  font-family: "DM Sans";
  color: var(--color-white-support);
  font-weight: 700;
  margin-top: 16px;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  padding-bottom: 40px;
  background-color: inherit;
}

@media screen and (min-width: 428px) {
  .support__title {
    padding-bottom: 24px;
  }
}
.support__list {
  padding-left: 40px;
}

.support__button {
  display: flex;
  background-color: var(--color-white-support);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 428px) {
  .support__button {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .support__button {
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .support__button {
    width: 38px;
    height: 38px;
  }
}
.support__button:focus,
.support__button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button__support {
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 24px;
}

.support__button-svg {
  fill: var(--color-purple-support);
  display: flex;
  margin: 0;
  width: 20px;
  height: 20px;
  rotate: 180deg;
}

.active {
  rotate: 180deg;
}

@media screen and (min-width: 428px) {
  .support__button-svg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .support__button-svg {
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .support__button-svg {
    width: 22px;
    height: 22px;
  }
}
.support__svg {
  fill: var(--color-white-support);
  margin-left: 12px;
  max-width: 20px;
  max-height: 32px;
}

.support__img {
  fill: var(--color-white-support);
  filter: brightness(0) invert(1);
}

.support__number {
  color: var(--color-white-support);
  display: flex;
  align-items: center;
  height: 32px;
}

.support__link {
  margin-bottom: 20px;
}

.slider__container {
  overflow: hidden;
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */