<header class="header">
  <div class="header__wrapper container">
    <div class="header__brand-items">
      <a href="./index.html" class="header__logo-link">
        <div class="header__logo-wrapper">
          <svg class="header__logo-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </div>
      </a>
      <svg class="header__brand-name" width="77" height="13">
        <use href="./images/icons.svg#icon-bookshelf"></use>
      </svg>
    </div>
    <div class="header__navigation">
      <button type="button" class="theme-switcher">
        <div class="theme-switcher__toggler"></div>
      </button>
      <button type="button" class="header__mobile-menu-button">
        <svg class="header__mobile-menu-icon js-open-menu" width="28" height="28">
          <use href="./images/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
