<header class="header">
  <div class="header__wrapper container">
    <div class="header__navigation-wrapper">
      <div class="header__brand-items">
        <a href="./index.html" class="header__logo-link">
          <div class="header__logo-wrapper">
            <svg class="header__logo-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </div>
        </a>
        <a href="./index.html" class="header__brand-name-link">
          <div class="header__brand-name-wrapper">
            <svg class="header__brand-name-icon" width="77" height="13">
              <use href="./images/icons.svg#icon-bookshelf"></use>
            </svg>
          </div>
        </a>
      </div>
      <nav class="navigation--header">
        <ul class="navigation--header__list">
          <li class="navigation--header__item">
            <a
              class="navigation--header__link navigation__link--home navigation__link"
              href="./index.html"
              >HOME</a
            >
          </li>
          <li class="navigation--header__item">
            <a
              class="navigation--header__link navigation__link--shopping-list navigation__link"
              href="./shopping-list.html"
              >SHOPPING LIST<svg
                class="navigation--header__icon navigation__icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-cart"></use>
              </svg>
              <span id="bookCountHeader" class="navigation--header__book-count"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__user-settings">
      <button type="button" class="theme-switcher">
        <div class="theme-switcher__toggler"></div>
      </button>
      <button type="button" class="header__mobile-menu-button js-open-menu">
        <svg class="header__mobile-menu-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
      <button type="button" class="header__mobile-menu-button js-close-menu hidden">
        <svg class="header__mobile-menu-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <button class="header__sign-up-btn" type="button">
        <div class="header__sign-up-wrapper">
          <svg class="header__user-icon" width="19" height="19">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </div>
        Sign up
        <svg class="header__sign-up-icon" width="23" height="26">
          <use href="./images/icons.svg#icon-arrow-triangle-down"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
