<!-- mobile-menu window -->

<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__header">
    <svg class="logo logo--mobile" width="40" height="37">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
    <span>Bookshelf</span
    ><button class="mobile-toggle js-close-menu">
      <svg class="mobile-toggle__icon" width="28" height="28">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu__wrapper">
    <p class="mobile-menu__user">User Name</p>
    <nav class="mobile-menu__nav">
      <a href="/" class="mobile-menu__link-home">Home</a>

      <a href="#shopping-list" class="mobile-menu__link-cart"
        >Shopping list<svg class="icon-cart" width="20" height="20">
          <use href="./images/icons.svg#icon-cart"></use>
        </svg>
      </a>
    </nav>

    <div class="mobile-logout">
      <button class="mobile-logout__btn modal-buy-now-open-mobile">
        Log out
        <svg class="mobile-logout__arrow" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
