<!-- mobile-menu window -->

<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__header">
    <svg class="logo logo--mobile" width="40" height="37">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
    <span>Bookshelf</span
    ><button class="mobile-toggle js-close-menu">
      <svg class="mobile-toggle__icon" width="28" height="28">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu__wrapper">
    <p class="mobile-menu__user">User Name</p>
    <div class="mobile-menu__center">
      <button class="mobile-menu__link-home">Home</button>
      <p class="mobile-menu__link-text">
        Shopping list
        <svg class="mobile-menu__icon-cart" width="20" height="20">
          <use href="./images/icons.svg#icon-cart"></use>
        </svg>
      </p>
    </div>
    <div class="mobile-logout">
      <button class="log-out-btn">
        <span>Log out</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M3.33301 10H16.6663M16.6663 10L11.6663 5M16.6663 10L11.6663 15"
            stroke="#EAC645"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
