<div class="roboczy">
<p>to jest div roboczy na potrzeby modala</p>
<div class="random-book" btn-modal-open>

 <img id="ran-cover" class="cover__img" alt="Okładka książki" />
  <p id="ran-title" class="title title__text"></p>
  <p id="ran-author" class="autor autor__text"></p>
  <p id="ran-book-description"></p>
  <p></p>
</div>
</div>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" close-btn>X</button>
    <!-- <svg width="24px" height="24px">
      <use href="../images/icons.svg#icon-x-close"></use>
    </svg> -->

    <div id="book" class="book">
      <img class="cover__img" id="book-cover" alt="Okładka książki">
      <h2 class="title title__text" id="book-title"></h2>
      <p class="author author__text" id="book-author"></p>
      <p class="description description__text" id="book-description"></p>
      <a class="buy-link" id="book-buy-link" href="#" target="_blank">Kup teraz</a>
  </div>
    <div class="button__container">
      <button type="button" class="button">
        <p>Dodaj do zakupów</p>
      </button>
    </div>
   
  </div>
</div>
