<div class="random-book">

 <img id="cover" alt="Okładka książki" />
  <p id="title"></p>
  <p id="author"></p>
  
  <a id="buy-link" href="#" target="_blank">Kup teraz</a>

</div>
<button type="button" class="btn-modal-open" btn-modal-open>open modal</button>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" close-btn>close</button>
    <div class="book">book</div>
    <button type="button" class="button">
      przycisk
      <!-- <svg>
              <use href="" />
            </svg> -->
    </button>
  </div>
</div>
