<section class="support__box">
  <h3 class="support__title">
    Support Ukraine
    <svg class="support__svg" width="20px" height="10px">
      <use href="/src/images/icons.svg#icon-ukraine-emblem"></use>
    </svg>
  </h3>
  <div class="slider__container">
    <ul class="support__list js-support">
      <svg class="aga">
        <use href="/src/images/images-support/support1.svg#image0_34040_427"></use>
       </svg>
    </ul>
  </div>

  <div class="button__support slider-button">
    <button class="support__button">
      <svg class="support__button-svg">
        <use href="/src/images/icons.svg#icon-arrow-up"></use>
      </svg>
    </button>
  </div>
</section>