html {
  scroll-behavior: smooth;
  & body {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;

    & main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1440;
      margin: 24px;
      padding-top: 40px;

      @include desktop {
        flex-direction: row;
        align-items: flex-start;
      }

      & .elements-location {
        width: 375;
        margin: 40px 0;
        padding: 0 20px 0 20px;
        @include tablet {
          width: 768;
          margin-bottom: 90px;
          padding: 0 32px 0 32px;
          display: flex;
          justify-content: space-between;
        }
        @include desktop {
          flex-direction: column;
          width: 450px;
        }
      }
    }
  }
}

.books {
  display: flex;
  flex-direction: column;

  &__categories {
    color: var(--color-list-category);
    cursor: pointer;
    margin-bottom: 30px;
    overflow: auto;
    height: 230px;
    width: 335px;
    line-height: 38px;
    @include tablet {
      height: 426px;
      width: 335px;
    }
  }

  &__header {
    color: var(--color-header-border);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.28px;
    &--color {
      color: var(--color-purple-btn);
    }
  }
  &__list {
    &--category {
      display: flex;
      flex-direction: column;
    }

    &--category-name {
      color: var(--color-author-font);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }

    &--category-set {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
      }
    }

    &--category-see-more {
      padding-top: 8px;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 40px;
    }

    &--image {
      padding-top: 18px;
      border-radius: 8px;
      max-width: 385px;
      max-height: 485px;
      @include tablet {
        width: 218px;
        height: 316px;
      }
      @include desktop {
        width: 180px;
        height: 256px;
      }
    }
    &--description {
      padding-top: 14px;
      gap: 4px;
    }

    &--title {
      color: var(--color-header-border);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: -0.64px;
      text-transform: uppercase;
    }
    &--author {
      color: var(--color-author-font);
      font-family: DM Sans;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.48px;
    }
  }
}
.change-category-color {
  color: var(--color-selected-category);
  text-transform: uppercase;
  font-weight: 500;
}
