body {
    background-color: var(--color-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    
    &__categories {
        color: var(--color-list-category);
        cursor: pointer;
        margin-bottom: 30px;
        overflow: auto;
        height: 230px;
        width: 335px;
        line-height: 28px;
    }
    &__header {
        color: var(--color-header-border);
        font-family: DM Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.28px;
        &--color {
            color: var(--color-purple-btn);
        }
    }
    &__list {
        padding-top: 40px;
        width: 335px;

        &--category {
            color: var(--color-author-font);
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.42px;
            text-transform: uppercase;
        }
        &--image {
            padding-top: 18px;
            border-radius: 8px;
            width: 385px;
            height: 485px;
        }
        &--description {
            padding-top: 14px;
            gap: 4px;
        }
        &--see-more {
            padding-top: 8px;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 40px;
        }
        &--title {
            color: var(--color-header-border);
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: -0.64px;
            text-transform: uppercase;
        }
        &--author {
            color: var(--color-author-font);
            font-family: DM Sans;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.48px;
        }
    }
}

.change-category-color {
    color: var(--color-selected-category);
    text-transform: uppercase;
    font-weight: 500;
}