@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    // justify-content: space-between;
  }
}

.elements-location {
  // width: 375;
  padding-top: 40px;
  @include tablet {
    // width: 768;
    margin-bottom: 100px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    flex-direction: column;
    width: 450px;
  }
}

.categories {
  animation: show 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    max-width: 768px;
    // padding-left: 32px;
    padding-right: 32px;
  }

  &__list {
    color: var(--color-list-category);
    cursor: pointer;
    margin-bottom: 40px;
    overflow: auto;
    height: 230px;
    width: 335px;
    line-height: 38px;
    @include tablet {
      height: 426px;
      width: 335px;
      margin-bottom: 0;
    }
    @include desktop {
      margin-bottom: 80px;
    }
  }
}

.books {
  animation: show 0.25s ease-in-out;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // margin: 0 auto;
  // @media screen and (min-width: 768px) and (max-width: 1440px) {
  //   max-width: 768px;
  //   // padding-left: 32px;
  //   // padding-right: 32px;
  // }
  &__header {
    color: var(--color-header-border);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.28px;
    margin-bottom: 40px;

    &--color {
      color: var(--color-purple-btn);
    }
    @include tablet {
      font-size: 48px;
      line-height: 52px;
      letter-spacing: 1.92px;
    }
    @include desktop {
      margin-top: 40px;
      padding-left: 40px;
    }
  }

  &__list {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
    }
    @include desktop {
      padding-left: 40px;
      gap: 24px;
    }

    &--box:hover &--overlay {
      transform: translateY(0);
      opacity: 1;
    }

    &--box {
      position: relative;
      cursor: pointer;
    }

    &--overlay {
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      width: 100%;
      height: 23%;
      opacity: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: var(--color-yellow-btn);
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &-text {
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
        color: var(--color-black-btn);
      }
    }

    &--card {
      // width: 100%;
      @include tablet {
        width: 218px;
      }
      @include desktop {
        width: 180px;
      }
    }
    &--description {
      padding-top: 14px;
      padding-bottom: 40px;
      @include tablet {
        padding-bottom: 15px;
      }
    }

    &--category {
      display: flex;
      flex-direction: column;
    }

    &--category-name {
      color: var(--color-author-font);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 18px;
      @include tablet {
        line-height: 1.7;
      }
    }

    &--category-set {
      display: flex;
      // flex-direction: column;

      @include tablet {
        flex-direction: row;
        gap: 25px;
      }

      @include desktop {
        gap: 24px;
      }
    }

    &--category-see-more {
      margin-top: 8px;
      text-align: right;
      margin-bottom: 40px;
      @include desktop {
        margin-top: 20px;
      }
      @include desktop {
        margin-top: 32px;
      }
    }

    &--image {
      border-radius: 8px;
      width: 100%;
      height: auto;
      object-fit: cover;
      // cursor: pointer;
      @include tablet {
        height: 316px;
      }
      @include desktop {
        max-height: 256px;
      }
    }

    &--element-info {
      width: 100%;
      @include tablet {
        width: 218px;
      }
      @include desktop {
        width: 180px;
      }
    }

    &--element-description {
      padding-top: 14px;
      margin-bottom: 18px;
    }

    &--title {
      color: var(--color-header-border);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: -0.64px;
      text-transform: uppercase;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 100%;
    }
    &--author {
      color: var(--color-author-font);
      font-family: DM Sans;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.48px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 100%;
    }
  }
}

.change-category-color {
  color: var(--color-selected-category);
  text-transform: uppercase;
  font-weight: 500;
}
