// main {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   padding-top: 20px;
//   margin: 0;
//   width: 100%;
// }
button {
  cursor: pointer;
}

.shopping-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--color-purple-btn);
  padding: 14px 28px;
  @include tablet {
    padding: 20px 149.5px;
  }
  text-transform: uppercase;
  color: var(--color-header-border);
  background: var(--color-header);
  font-family: DM Sans;
  font-size: 14px;
  @include tablet {
    font-size: 18px;
  }

  letter-spacing: -0.18px;
  font-weight: 700;
  line-height: 1.3;
}

.shopping-list-btn:hover,
.shopping-list-btn:focus {
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
}

.shopping-list-btn:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.see-more-btn {
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--color-purple-btn);
  color: var(--color-header-border);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.see-more-btn:hover,
.see-more-btn:focus {
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
}

.see-more-btn:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-header-border);
  padding: 8px 16px;
  border-radius: 36px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.nav-btn svg {
  margin-left: 8px;
}

.nav-btn:active {
  font-weight: 700;
  background: var(--color-yellow-btn);
}

.user-btn {
  gap: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 36px;
  border: none;
  background: var(--color-purple-btn);
  color: var(--color-white-btn);
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.log-out-btn {
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  color: var(--color-black-btn);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  border-radius: 18px;
  border: 1.5px solid var(--color-black-btn);
  background: var(--color-white-btn);
}

.sign-up-btn {
  gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  color: var(--color-white-btn);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  border-radius: 18px;
  border: 1.5px solid var(--color-black-btn);
  background: var(--color-purple-btn);
}

.up-btn:hover,
.up-btn:focus {
  opacity: 1;
}

.up-btn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 15;
  opacity: 0.6;
  &--circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(79, 46, 232, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--2nd-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--color-purple-btn);
  }
}
