$gradient-background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);

.mobile-menu {
  overflow: hidden;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 18px, 20px, 20px;
  transform: translateX(100%);
  z-index: 10;
  margin-top: 64px;
  @include tablet {
    margin-top: 72px;
  }
  @include tablet {
    display: none;
  }

  &__wrapper {
    background-image: url('/src/images/mobile_menu_background.png'), $gradient-background;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 100vh;
    position: relative;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/mobile_menu_background@2x.png'), $gradient-background;
    }
  }
  &__user {
    padding: 0 66px;
    top: 24px;
    color: #fff;
  }
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__link-home {
    padding: 10px 20px;
    background-color: var(--color-yellow-btn);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    color: #111;
    padding: 8px 16px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link-text {
    color: var(--color-header);
    display: flex;
    text-transform: uppercase;
    margin-top: 16px;
  }

  &__icon-cart {
    fill: #fff;
  }

  // &__logout {
  //   position: relative;
  // }
}

.log-out-btn.btn-logout {
  position: absolute;
  bottom: 80px;
  left: 20px;
}

.hidden {
  display: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
}
