// div roboczyzy

.roboczy {
  margin: 0 auto;
  width: 300px;
  background-color: lightgrey;
  font-size: 30px;
  text-align: center;
}

.random-book {
 margin: 30px auto ;
 width: 250px;
  background: lightblue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.random-book:hover {
  background: rgb(84, 177, 208);
}


// style okna modalnego

.is-hidden {
  scale: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.4);

  transition-property: opacity, scale, visibility;
  transition-duration: 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 335px;
  height: auto;
  background-color: white;
  
  border: 2px solid #111111;
  border-radius: 18px;

}


.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover__img {
  width: 287px;
  height: 408px;
  border-radius: 8px;
}
.button {
  padding: 10px 16px;
  margin-bottom: 40px;
  background: var(--blue-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.close-btn {
 width: 24px;
 height: 24px;

 margin: 12px 0 0 299px;
 cursor: pointer;
 font-size: 12px;
}

.close-btn:hover {
  transform: scale(1.1);
  background-color: darkgray;
  border-radius: 50%;
}


