@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shopping-content {
  background-color: var(--color-background);
  transition: background-color 500ms;
}

.shopping-title {
  color: var(--color-main-font);
  transition: color 500ms;
  // padding-top: 40px;
  margin-bottom: 40px;
  width: 335px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.28px;
  line-height: 1.1875;
  &__accent {
    color: var(--color-purple-title);
  }
  @include tablet {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.92px;
    line-height: 1.0833;
    width: 704px;
  }
}

.shopping-empty {
  animation: show 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin: 120px auto 0;
  width: 265px;
  @include tablet {
    width: 349px;
    margin-top: 140px;
    gap: 20px;
  }
  &__text {
    color: var(--color-info-empty);
    transition: color 500ms;
    text-align: center;
    width: calc(100% - 21px);
    padding: 0 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 1.2857;
    @include tablet {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.36px;
      line-height: 1.3333;
      width: 100%;
    }
  }
}

.card-item {
  animation: show 0.25s ease-in-out;
  &__box {
    position: relative;
    margin: 0 auto 20px;
    display: flex;
    width: 335px;
    height: 170px;
    padding: 14px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    background-color: var(--color-header);
    transition: background-color 500ms;
    @include tablet {
      width: 704px;
      height: 213px;
      padding: 24px;
      gap: 24px;
    }
    @include desktop {
      width: 996px;
      height: 213px;
    }
  }
  &__img-box {
    width: 100px;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    @include tablet {
      width: 116px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    width: 144px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.64px;
    line-height: 1.125;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: var(--color-header-border);
    @include tablet {
      width: 400px;
    }
    @include desktop {
      width: 650px;
    }
  }
  &__category {
    width: 165px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 1.1667;
    margin-bottom: 8px;
    color: var(--color-author-font);
    @include tablet {
      width: 400px;
    }
    @include desktop {
      width: 650px;
    }
  }
  &__description {
    width: 193px;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    line-height: 1.2857;
    margin-bottom: 14px;
    color: var(--color-header-border);
    @include tablet {
      width: 508px;
    }
    @include desktop {
      width: 808px;
    }
  }

  &__author {
    width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 1.1667;
    font-style: italic;
    margin-bottom: 8px;
    color: var(--color-author-font);
    @include tablet {
      width: 300px;
    }
    @include desktop {
      width: 650px;
    }
  }
  &__author-box {
    height: 12px;
  }
}

.remove-button {
  position: absolute;
  top: 14px;
  right: 14px;
  @include tablet {
    top: 24px;
    right: 24px;
  }
  &__box {
    @include flex-align;
    width: 34px;
    height: 34px;
    background-color: var(--color-purple-btn);
    border-radius: 50%;
    background-image: url('../images/icon-trash.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    @include tablet {
      background-size: 18px 18px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 12px 4px var(--color-info-empty);
    }
  }
}

.card-item {
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.shops-list {
  &__link {
    font-size: 7px;
    &:hover .shops-list__icon-img-amazon,
    &:focus .shops-list__icon-img-amazon {
      filter: var(--amazon-icon-filter-focus);
      transform: scale(1.15);
    }
    &:hover .shops-list__icon-img-apple,
    &:focus .shops-list__icon-img-apple {
      filter: var(--apple-icon-filter-focus);
      transform: scale(1.15);
    }
  }
  @include flex-align;
  align-items: flex-end;
  gap: 8px;
  @include tablet {
    gap: 16px;
    align-items: center;
  }

  &__icon-box {
    @include flex-align;
    &--amazon {
      width: 32px;
      @include tablet {
        width: 48px;
      }
    }
    &--apple {
      width: 16px;
      @include tablet {
        width: 28px;
      }
    }
  }
  &__icon-img-apple {
    filter: grayscale(100%);
    transform: scale(1);
    @include animation(transform);
  }
  &__icon-img-amazon {
    filter: var(--amazon-icon-filter);
    transform: scale(1);
    @include animation(transform);
  }
}

body {
  overflow-y: scroll;
}
