.support__box {
    display: grid;
  
    max-width: 335px;
    height: 375px;
  
    padding-top: 24px;
  
    max-width: 335px;
    height: 352px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--color-purple-support) 18.03%, var(--color-white-support) 100%);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
  }
  .aga{
    fill: white;
  }
  
  @media screen and (min-width:428px) {
    .support__box{
    max-width: 335px;
    height: 352px;
    }      
  }
  
  
  @media screen and (min-width: 768px){
    .support__box{
    min-width: 335px;
    height: 472px;
  
  }
  
  }
  @media screen and (min-width: 1440px){
    .support__box{
    max-width: 356px;
    height: 490px;
    }
  }
  
  .support__title {
    display: flex;
    padding-left: 40px;
    font-family: $main-fonts;
    color: var(--color-white-support);
    font-weight: 700;
    margin-top: 16px;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    padding-bottom: 40px;
  }
  
  .support__list {
    padding-left: 40px;
    
  }
  
  .support__button {
    display: flex;
    background-color: var(--color-white-support);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    
  }
  
  @media screen and (min-width:428px) {
    .support__button{ 
    width: 32px;
    height: 32px;
    }
      
  }
  @media screen and (min-width: 768px) {
    .support__button{
    width: 38px;
    height: 38px;
  }
  }
      
  @media screen and (min-width: 1440px) {
    .support__button{
    width: 38px;
    height: 38px;
    }
  } 
  
  
  .support__button:focus,
  .support__button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .button__support {
    justify-content: center;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 24px;
  }
  
  .support__button-svg {
    fill: var(--color-purple-support);

    display: flex;
    margin: 0;
    width: 20px;
    height: 20px;
    rotate: 180deg;
  }
  
  
  
  
  @media screen and (min-width: 428px){
    .support__button-svg{
    width: 20px;
    height: 20px;
  
    }
  }
  
  @media screen and (min-width: 768px){
    .support__button-svg{
    width: 22px;
    height: 22px;
    }
  }
      
  @media screen and (min-width: 1440px){
    .support__button-svg{
    width: 22px;
    height: 22px;
    }
  }
  
  .support__svg {
    fill: var(--color-white-support);
    margin-left: 12px;
    max-width: 30px;
  }
  
  .support__img {
    fill: var(--color-white-support);
    margin-left: 16px;
  
  
    filter: brightness(0) invert(1); 
  
  
  }
  
  .support__number {
    color: var(--color-white-support);
    display: flex;
    align-items: center;
    height: 32px;
  }
  
  .support__link {
    margin-bottom: 20px;
  }
  
  .slider__container{
    overflow: hidden;
    scroll-behavior: smooth;
  }