.support {
  &__box {
    display: grid;
    padding-top: 28px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      var(--color-purple-support) 18.03%,
      var(--color-white-support) 100%
    );
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
    max-width: 335px;
    height: 460px;
    @include tablet {
      padding-top: 26px;
      width: 335px;
      height: 474px;
    }
    @include desktop {
      width: 356px;
    }
  }

  &__title {
    display: flex;
    padding-left: 40px;
    font-family: $main-fonts;
    color: var(--color-white-support);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: -0.88px;
    margin-bottom: 44px;
    background-color: inherit;
    @include tablet {
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: -0.96px;
      margin-bottom: 42px;
    }
  }

  &__list {
    padding-left: 40px;
  }

  &__button {
    display: flex;
    background-color: var(--color-white-support);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__button-svg {
    fill: var(--color-purple-support);
    width: 20px;
    height: 20px;
    @include tablet {
      width: 22px;
      height: 22px;
    }
  }

  &__svg {
    fill: var(--color-white-support);
    margin-left: 12px;
    max-width: 20px;
    max-height: 32px;
  }

  &__img {
    fill: var(--color-white-support);
    filter: brightness(0) invert(1);
  }

  &__number {
    color: var(--color-white-support);
    display: flex;
    align-items: center;
    height: 32px;
  }

  &__link {
    margin-bottom: 20px;
  }
}

.button__support {
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 32px;
  height: 32px;
  @include tablet {
    margin-bottom: 24px;
    margin-top: 24px;
    width: 38px;
    height: 38px;
  }
}

.rotate {
  rotate: 180deg;
}

.slider__container {
  overflow: hidden;
  scroll-behavior: smooth;
}
